<ion-modal-view>
  <ion-header-bar style="background:#fff">
    <h1 class="title">{{tlang[12].text}} {{site_name}}</h1>
    <button class="button button-clear mi-pollita" style="font-size:14px" ng-click="closeCreditsModal()">{{alang[44].text}}</button>
  </ion-header-bar>
  
  <ion-content>
	<ion-slide-box show-pager="true" class="slider-pager" style="position:absolute;top:0; width:100%; height:260px;z-index:5">
		<ion-slide ng-repeat="i in [1,2,3,4,5,6,7] track by $index"  style="position:relative;top:0;width:100%;height:260px;" >
			<div ng-if="$index == 0" style="position:relative;background:#FFF4CC;top:0;width:100%;height:360px;">		
				<img src="img/rocket.png" width="90px" style="padding-top:10px;">
				<h2 class="mi-pollita" style="font-size:18px">{{tlang[69].text}}<h2>
				<p style="font-size:13px;font-weight:300;color:#999;font-family:'Roboto';">{{tlang[70].text}}</p>
			</div>
			<div ng-if="$index == 1" style="position:relative;background:#c2f6ff;top:0;width:100%;height:360px;">		
				<img src="img/spotlight.png" width="90px" style="padding-top:10px;">
				<h2 class="mi-pollita" style="font-size:18px">{{tlang[72].text}}<h2>
				<p style="font-size:13px;font-weight:300;color:#999;font-family:'Roboto';">{{tlang[73].text}}</p>
			</div>
			<div ng-if="$index == 2" style="position:relative;background:#8C4FE6;top:0;width:100%;height:360px;">		
				<img src="img/medal.png" width="90px" style="padding-top:10px;">
				<h2 class="mi-pollita" style="font-size:18px;color:#fff">{{tlang[75].text}}<h2>
				<p style="font-size:13px;font-weight:300;color:#f0f0f0;font-family:'Roboto';">{{tlang[76].text}}</p>
			</div>	
			<div ng-if="$index == 3" style="position:relative;background:#3e4e5c;top:0;width:100%;height:360px;">		
				<img src="img/target.png" width="90px" style="padding-top:10px;">
				<h2 class="mi-pollita" style="font-size:18px;color:#fff">{{tlang[78].text}}<h2>
				<p style="font-size:13px;font-weight:300;color:#f5f5f5;font-family:'Roboto';">{{tlang[79].text}}</p>
			</div>
			<div ng-if="$index == 4" style="position:relative;background:#e05b49;top:0;width:100%;height:360px;">		
				<img src="img/bubbles.png" width="90px" style="padding-top:10px;">
				<h2 class="mi-pollita" style="font-size:18px;color:#fff">{{alang[45].text}}<h2>
				<p style="font-size:13px;font-weight:300;color:#f5f5f5;font-family:'Roboto';">{{alang[46].text}} <b>{{dchat}}</b> {{alang[47].text}} <b>{{dchatprice}}</b> {{alang[48].text}}</p>
			</div>
			<div ng-if="$index == 5" style="position:relative;background:#63a3d2;top:0;width:100%;height:360px;">		
				<img src="img/gift-box.png" width="90px" style="padding-top:10px;">
				<h2 class="mi-pollita" style="font-size:18px;color:#fff">{{alang[49].text}}<h2>
				<p style="font-size:13px;font-weight:300;color:#f5f5f5;font-family:'Roboto';">{{alang[50].text}}.</p>
			</div>
			<div ng-if="$index == 6" style="position:relative;background:#72b19c;top:0;width:100%;height:360px;">		
				<img src="img/lock.png" width="90px" style="padding-top:10px;">
				<h2 class="mi-pollita" style="font-size:18px;color:#fff">{{alang[51].text}}<h2>
				<p style="font-size:13px;font-weight:300;color:#f5f5f5;font-family:'Roboto';">{{alang[52].text}}</p>
			</div>			
		</ion-slide>
	</ion-slide-box	>  
		<div class="text-muted"  style="border:none;padding-top:260px;">
		  <div class="item item-divider b-none">{{alang[53].text}}</div>		
			<div class="list" ng-repeat="i in cp track by $index" style="margin:0px;" ng-click="selectCredit(i.quantity,i.price,$index)" >
			  <div class="item item-button-right">
				<div style="color:#343434">
					{{i.quantity}} {{alang[48].text}}
					<span style="display:inline-table;float:right;">{{i.price}} {{currency}}</span>
				</div>					
				<button class="button" style="background:#fff" >
				  <i class="icon ion-checkmark-circled" data-q="{{i.quantity}}" style="color:#FD790C;display:none;"></i>
				</button>				
			  </div>
			</div>	
		  <div class="item item-divider b-none">{{alang[54].text}}</div>
			  <div class="item" ng-show="PAYPAL" ng-click="buyCredit(1)">
				<div style="color:#343434">			
					<img src="img/paypal.png" style="display:inline-table;max-height:40px"></img>
					<span style="display:inline-table;float:right;line-height:40px">PayPal</span>
				</div>								
			  </div>
			  <div class="item" ng-show="STRIPE" ng-click="buyCredit(2)">
				<div style="color:#343434">
					<img src="img/visa.png" style="display:inline-table;max-height:40px"></img>
					<img src="img/mastercard.png" style="display:inline-table;max-height:40px"></img>
					<img src="img/amex.png" style="display:inline-table;max-height:40px"></img>					
					<span style="display:inline-table;float:right;line-height:40px">{{alang[55].text}}</span>
				</div>								
			  </div>
			  <div class="item" ng-show="SMS" ng-click="buyCredit(3)">
				<div style="color:#343434">
					<img src="img/sms.png" style="display:inline-table;max-height:40px"></img>					
					<span style="display:inline-table;float:right;line-height:40px">SMS</span>
				</div>								
			  </div>			  
		</div>			
  </ion-content>
</ion-modal-view>
