<ion-view>
  <div class="wrapper" fit vertical layout justified>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="activeIndex" ng-init="activeIndex = 0" class="m-t">
      <ion-slide class="text-center flex-vertical-center" ng-repeat="i in [1,2,3]">
		<div class="text-center text-muted text-intro">
			<span ng-show="i == 1">{{lang19}}</span>
			<span ng-show="i == 2">{{lang20}}</span>
			<span ng-show="i == 3">{{lang21}}</span>			
		</div>	  
        <img class="w-full" ng-src="{{site_url}}app/img/intro_{{i}}.jpg" alt="">
      </ion-slide>
    </ion-slide-box>  

    <div class="text-center text-muted">
		<span data-alid="22"></span>
		<button class="button button-block button-tinder bg-tinder" ng-click="changePage('home.login','right','')" data-alid="23"></button>
    </div>
  </div>
</ion-view>	
